@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Expletus+Sans&family=Montserrat+Alternates&family=Nova+Slim&display=swap');

body{
    font-family: 'Montserrat Alternates', sans-serif;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.body{
  font-family: 'Montserrat Alternates', sans-serif;
}

p{
  padding-top: 8%;
  left: 100px;
  position: absolute;
  z-Index: 3;
  font-size: 1.75vw;
}

h3{
  padding-top: 8%;
  left: 100px;
  position: absolute;
  font-size: 2vw;
}

.icons{
  display: flex;
}

.linked, .envelope, .phone, .github{
  margin-right: 4%;
  color: black;
}

img{
  width: 30%;
  position: relative;
  max-width: 100%;
  height: auto;
  margin: auto;
  top: 15px;
  bottom: 150px;
  left: 750px;
  right: 0;
}

@media (max-width:1200px){
  img {
      visibility: hidden;
  }
  .App { font-size: small; }
} 

@media screen and (max-device-width: 1250px) {
  img{ visibility: hidden; }
}

.use:hover{
  background-color: aquamarine;
  font-weight: bolder;
}

.user:hover{
  background-color:palegoldenrod;
  font-weight: bolder;
}

.learn:hover{
  background-color: yellowgreen;
  font-weight: bolder;
}

.mess{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: x-small;
}

.design h1{
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 5vw;
}

.design p{
  top: 25%;
  left:10%;
}

.quote{
  font-size: 1.25vw;
  top: 30%;
  margin-left: 55%;

}

.frame1{
  position: absolute;
  top: 112%;
  left: 20%;
}

.frame1 h3{
  position: absolute;
  font-size: 2vw;
  bottom: 110%;
  left: -0.5%;
  font-weight: bolder;
}

.frame1 p{
  position: absolute;
  font-size: 1.5vw;
  top: -23%;
  left: -0.5%;
}

.frame2{
  position: absolute;
  top: 220%;
  left: 20%;
}

.frame2 h3{
  position: absolute;
  font-size: 2vw;
  bottom: 110%;
  left: -0.5%;
  font-weight: bolder;
}

.frame2 p{
  position: absolute;
  font-size: 1.5vw;
  top: -23%;
  left: -0.5%;
}

.frame3{
  position: absolute;
  top: 320%;
  left: 20%;
}

.frame3 h3{
  position: absolute;
  font-size: 2vw;
  bottom: 110%;
  left: -0.5%;
  font-weight: bolder;
}

.frame3 p{
  position: absolute;
  font-size: 1.5vw;
  top: -23%;
  left: -0.5%;
}

.type{
    position: absolute;
    top: 100%;
    left: 15%;
    font-size: 4vw;
    padding-bottom: 5%;
}
